<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="rgb(62, 62, 62)">
    <link rel="stylesheet" href= "{{ url_for('static', filename='index-styles.css') }}">
    <title>Landing</title>
  </head>

  <body>
    <h1>Boot</h1>
    <a href="/">Go to Home Page</a>
    <button id="joinSession">Join Session</button>
    <button id="createSession">Create Session</button>
  </body>

  <footer>
    <p><a href="/">Impresum</a></p>
    <p><a href="/">Credits</a></p>
  </footer>
  <script src="{{ url_for('static', filename='index-script.js') }}"></script>
</html>
